* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: blue;
  --secondary: white;
  --text-color: #222;

  --space-small: 0.50 em;
  --space-md: 0.75 em;
  --space-normal: 1 em;
  --space-xl: 1.50 em;
}

html {
  background-color: var(--secondary);
  color: var(--text-color);
  margin: 20px;
  padding: 20px;
}

header {
  position: absolute;
  top: -1px;
  background: transparent;
  background-color: var(--primary);
  width: 100%;
}

nav {
  min-width: 10%;
  max-width: 90%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-list li {
  list-style-type: none;
}

.nav-list li a {
  text-decoration: none;
}

